<!--<p>survey-details works!</p>-->
<!--<div>-->
<!--  <h2>Survey Details</h2>-->
<!--  <pre>{{ surveyDetails | json }}</pre>-->
<!--</div>-->



<p>survey-details works!</p>

<div *ngIf="surveyDetails">
  <h2>{{ surveyDetails.label }}</h2>

  <div *ngFor="let assessment of surveyDetails.assessments; let i = index">
    <div class="assessment">
      <h3>{{ assessment.description }}</h3>

      <div *ngIf="assessment.displayType === 'Radio'">
        <div *ngFor="let choice of assessment.choices">
          <input
            type="radio"
            [name]="'assessment_' + assessment.id"
            [id]="'choice_' + choice.id"
            [value]="choice.label"
            [(ngModel)]="assessment.answer"
            [ngModelOptions]="{standalone: true}"
          />
          <label [for]="'choice_' + choice.id">{{ choice.description }}</label>
        </div>
      </div>

      <div *ngIf="assessment.displayType === 'Text'">
        <input
          type="text"
          class="form-control"
          [(ngModel)]="assessment.answer"
          [ngModelOptions]="{standalone: true}"
        />
      </div>

      <!-- Add more conditionals here for other display types if needed -->

    </div>
  </div>

  <button class="btn btn-primary" (click)="submitSurvey()">Submit Survey</button>
</div>

<div *ngIf="!surveyDetails">
  <p>Loading survey details...</p>
</div>

